<h1>Editing post</h1>

<%= render 'form' %>


<%= link_to @post do %>
  <button class="btn btn-default">Show</button>
<% end %>

<%= link_to posts_path do %>
  <button class="btn btn-default">Back</button>
<% end %>






